<mat-drawer-container autosize class="example-container">
  <mat-toolbar class="header">
    <div class="logo-wrapper">
      <button (click)="drawer.toggle()" class="side-bar-icon"
              mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <div>Learn english)))</div>
    </div>

    <div class="auth-buttons-wrapper">
      <button color="primary" [routerLink]="['login']" mat-button>Sign in</button>
      <button color="primary" [routerLink]="['register']" mat-button>Sign up</button>
    </div>
  </mat-toolbar>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <mat-list-item>
        <a (click)="drawer.toggle()" mat-raised-button routerLink="">Home page</a>
      </mat-list-item>

      <mat-list-item>
        <a (click)="drawer.toggle()" mat-raised-button routerLink="../tasks/choose-word">Сhoose word training</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <router-outlet class="router-outlet"></router-outlet>
</mat-drawer-container>


